*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    background-color: #234b69;
    background-image: linear-gradient(140deg, black, black, black, purple);
    font-family: sans-serif;
    color: gray;
    user-select: none;
}

.wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: 80vh;
    margin: 5vh auto;
    box-shadow: 0 0 15px gray;
}

.text {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.start-screen {
    position: fixed;
    width: inherit;
    height: inherit;
    display: flex;
    text-align: center;
    background-image: linear-gradient(300deg, black, black, black, purple);
    transition: opacity 1s;
    z-index: 1;
}

.start-screen::before {
    content: "PLAY";
    margin: auto;
    font-size: 4rem;
}

.start-screen--hidden {
    opacity: 0;
    pointer-events: none;
}

.drag {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 100px;
    border: 3px groove gray;
    border-radius: 10px;

    background-color: purple;
    background-image: url(../img/sprite.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    will-change: top, right, bottom, left;
}

.drag-start,
.drag-border {
    box-shadow: 5px 5px 10px gray;
}

.drag-start {
    background-position: -100px 0;
}

.drag-border {
    background-position: -202px -3px;
}
